* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
      --primary-color: #06b3f8;
      --secondary-color: #042da0;
      --tertiary-color: #1a98a7;
  }
  
  body {
    background-color: #39a6b2;
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    background-image: url("../images/hero-bg.jpg");
  }
  
  header {
    padding: 20px 35px;
    background-color: #39a6b2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--secondary-color);
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
  }

  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: white;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 10px;
    text-shadow: none;
  }

  .hero {
    display: flex;
    flex-wrap: wrap;
    border: 20px 20px 20px 20px;
    padding: 10px 10px 10px 10px;
    justify-content: center;
    border-style: solid;
    text-align: center;
    background-color: var(--tertiary-color);
  }

  .about-me h1 {
    color: white;
  }


  .work {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    width: 100%;

  }

  .work h1{
    color: white;
  }


  .projects ul{
    list-style: none;
    justify-content: space-between;
  }

  .projects ul li{
    display: inline-flex;
    flex-wrap: wrap;
    color:white;
    margin: 20 auto;
    padding: 20px 20px 20px 20px;
    border-color: black;
    border-style: solid;
  }
  .run-buddy{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 400px;
    background-image: url("../images/run-buddy.jpg");
  }
  
  .placeholders ul{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 15 15 15 15;
  }

  .placeholder-one{
    display: flex;
    height: 200px;
    background-image: url("../images/server-connections.jpg");
  }

  .placeholder-two{
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    background-image: url("../images/web-design.jpg");
  }

  .placeholder-three{
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    background-image: url("../images/coding.jpg");
  }

  .placeholder-four{
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    background-image: url("../images/application.jpg");
  }

  .contact-me {
    border: solid;
    width: 100%;
    padding: 20px auto;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: white;
    border-color: black;
    background-color: var(--primary-color);
  }

  .contact-me ul {
    list-style: none;
  }


  @media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    footer h2, footer div {
      text-align: center;
      width: 100%;
    }

  }
  
  @media screen and (max-width: 768px) {
    .hero {
      flex-shrink: 2;
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    .about-me h1 {
      width: 100%;
      text-align: center;
    }
  
    .work {
      flex-shrink: 2;
      text-align: center;
      width: 100%;

    }

  }
  
  @media screen and (max-width: 500px) {

    .hero {
      flex-shrink: 2 120px;
      justify-content: center;
      position: relative;
      width: 100%;
    }

    .work {
      flex-shrink: 2 120px;
      justify-content: center;
      position: relative;
      width: 100%;
    }

    .projects {
      flex-shrink: 2 120px;
      justify-content: center;
      position: relative;
      width: 100%;
    }


  }